@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Youtube gradient */
  background: linear-gradient(135deg, #ff0000, #c4302b, #282828);
  background-size: cover;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
